body {
    margin: 0;
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1F2937;
    color: white;
}

#header {
    background: #509D16;
    width: 100vw;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

input {
    width: 120px;
    height: 85px;
    border: 1px solid #A1DE74;
    background: #509D16;
    margin: 20px;
    border-radius: 5px;
    color: white;
    font-size: 58px;
    text-align: center;
    font-weight: 800;
    font-family: "Inter", serif;
}

#convert-btn {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    color: #3D3D3D;
    font-family: "Inter", serif;
}

.units {
    background: #273549;
    width: 500px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    border-radius: 5px;
}

.unit-name {
    font-weight: 600;
    color: #A1DE74;
    font-size: 20px;
}

.unit-value {
    font-size: 14px;
}

#error-msg {
    color: #273549;
    height: 10px
}